/* 赞赏弹窗 */
.swal2-show {
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {

	/* 赞赏弹窗 */
	html .swal2-show {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
}

/* 赞赏弹窗 */
div:where(.swal2-container) div:where(.swal2-popup) {
	border-radius: var(--main-radius);
}

/* 赞赏弹窗图片 */
div:where(.swal2-container) img:where(.swal2-image) {
	border-radius: var(--main-radius) var(--main-radius) 0 0;
}

/* 赞赏弹窗标题 */
div:where(.swal2-container) h2:where(.swal2-title) {
	font-size: 1.5em !important;
}

/* 赞赏弹窗图片 */
div:where(.swal2-container) img:where(.swal2-image) {
	margin: 0 !important;
}

/* 右上角关闭图标 */
html div:where(.swal2-container) button:where(.swal2-close) {
	font-size: 1.7em;
	color: var(--background);
	opacity: 0.6;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: 0.2s;
}

html div:where(.swal2-container) button:where(.swal2-close):hover {
	color: var(--background);
	opacity: 0.8;
}

html div:where(.swal2-container) button:where(.swal2-close):focus-visible {
	box-shadow: none;
	opacity: 0.8;
}

/* 赞赏弹窗内容 */

html div:where(.swal2-container) .swal2-html-container {
	padding: 0;
	font-size: unset;
}

.rewards-modal-header {
	backdrop-filter: unset !important;
	border-radius: var(--main-radius) var(--main-radius) 0 0;
	background-size: 120%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	color: var(--background);
    background: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
	margin-bottom: 20px;
}

.colorful-bg>.colorful-make {
    bottom: 0;
    height: 290px;
    width: 323px;
    top: 60%;
}

.colorful-bg>.colorful-make,
.colorful-bg>.colorful-make::after,
.colorful-bg>.colorful-make::before {
	position: absolute;
	color: var(--background);
	background: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
	border-radius: 100%;
	content: ' ';
}

.colorful-bg>.colorful-make::before {
    right: -558px;
    bottom: 0;
    height: 300px;
    width: 677px;
    top: -325px;
    transform: rotate(341deg);
    opacity: .6;
}

.colorful-bg>.colorful-make::after {
    left: -262px;
    bottom: 0;
    height: 214px;
    width: 402px;
    top: -170px;
    transform: rotate(326deg);
    opacity: .4;
}

.colorful-bg>.colorful-make+* {
    position: relative;
}

.rewards.buttons-container {
	display: flex;
	justify-content: center;
}

/* 赞赏弹窗支付方式按钮 */
.rewards.buttons-container>button {
	padding: 1vh 2vw;
	margin-right: 1vh;
	border: none;
	border-radius: var(--main-radius);
	cursor: pointer;
	color: white;
	line-height: 13.5px;
	font-size: 14px;
}

.rewards.buttons-container>button:last-child {
	margin-right: 0px;
}

.rewards.buttons-container>.alipay-button {
	/* 支付宝深蓝色 */
	background-color: #1678FF;
}

.rewards.buttons-container>.wechat-button {
	/* 微信绿色 */
	background-color: #07C160;
}

.rewards.buttons-container>.qq-button {
	/* QQ浅蓝色 */
	background-color: #12B7F5;
}