html .joe_bread__bread .item,
html .joe_bread__bread .item .link,
html .text-muted,
html .joe_index__title-title>.item,
html .joe_index__title-notice>a {
    color: var(--classC);
}

html .joe_bread__bread>.item>.icon {
    fill: var(--classC);
}

html .text-muted>a {
    color: var(--classD);
}

html .joe_action_item {
    background: var(--back-trn-85);
}