/* 基类：基于 最大屏幕 + 有侧边栏 下进行适配 */

@media (max-width: 1760px) {}

@media (max-width: 1400px) {

	html .joe_wallpaper__list {
		grid-template-columns: repeat(3, 1fr)
	}

	html .joe_video__list-item .item .thumb {
		height: 210px
	}

	html .joe_video__detail-info .thumbnail {
		width: 165px;
		height: 235px
	}

	html .joe_video__player-play {
		height: 480px
	}

	html .joe_live__play-player {
		height: 500px
	}

	html .joe_detail__leaving-list {
		height: 450px
	}

	html .joe_detail__related-content .item {
		height: 110px
	}

	html .joe_list__item.single .thumbnail {
		height: 250px
	}

	html .joe_list__item.multiple .thumbnail {
		grid-template-rows: 160px
	}

	html .joe_census__server-item .content #work,
	html .joe_census__server-item .content #flow {
		height: 300px
	}
}

@media (max-width: 1200px) {

	html .joe_detail__friends {
		grid-template-columns: repeat(2, 1fr)
	}

	html .joe_detail__leaving-list {
		height: 400px
	}

	html .joe_detail__related-content .item {
		height: 90px
	}

	html .joe_video__list-item {
		grid-template-columns: repeat(4, 1fr)
	}

	html .joe_video__list-item .item .title {
		height: 34px;
		line-height: 34px
	}

	html .joe_video__detail-info .thumbnail {
		width: 155px;
		height: 220px
	}

	html .joe_video__player-play {
		height: 450px
	}

	html .joe_video__source-list {
		grid-template-columns: repeat(5, 1fr)
	}

	html .joe_owo__contain .box .scroll .item {
		width: calc(100% / 10)
	}

	html .joe_owo__contain .box .scroll:nth-child(5) .item {
		width: calc(100% / 3);
	}

	html .joe_live__play-player {
		height: 430px
	}

	html .joe_live__list {
		grid-template-columns: repeat(2, 1fr)
	}

	html .joe_list__item.single .thumbnail {
		height: 210px
	}

	html .joe_list__item.multiple .thumbnail {
		grid-template-rows: 125px
	}

	/*
	html .joe_list__item.default .thumbnail,
	html .joe_list__loading .item .thumbnail {
		width: 185px;
		height: 125px
	}
	*/

	html .joe_index__hot-list {
		-webkit-column-gap: 10px;
		column-gap: 10px
	}

	html .joe_index__hot-list .item .link .inner .image {
		height: 90px
	}

	html .joe_index__banner {
		display: block
	}

	html .joe_index__banner-recommend {
		grid-template-columns: repeat(3, 1fr);
	}

	html .joe_census__basic-item.category #category {
		height: 220px
	}

	html .joe_census__server {
		grid-template-columns: 45% 1fr
	}

	html .joe_census__server-item .content #work,
	html .joe_census__server-item .content #flow {
		height: 280px
	}

	html .joe_census__lately .content #lately {
		height: 280px
	}

	html .joe_index__banner>.swiper-container {
		height: 280px
	}

	html .joe_index__banner>.swiper-container .item {
		height: 280px
	}

	/* 
	html .joe_list__item.default .information .abstract {
		-webkit-line-clamp: 1;
		max-height: 22px;
	}
	*/
}

@media (max-width: 992px) {

	html .joe_aside {
		display: none
	}

	html .joe_video__player-play {
		height: 400px
	}

	html .joe_live__play-player {
		height: 400px
	}

	html .joe_detail__leaving-list {
		height: 350px
	}

	html .joe_detail__related-content .item {
		height: 100px;
	}

	html .joe_index__hot-list .item .link .inner .image {
		height: 100px;
	}

	html .joe_index__banner-recommend .item {
		height: 135px;
		/*margin: 0 !important*/
	}

	html .joe_header__above-logo {
		padding-right: 0
	}

	/* html .joe_header__above-logo::after {
		display: none
	} */

	html .joe_header__above-search {
		display: none
	}

	html .joe_header__above-searchicon {
		display: block
	}

	html .joe_census__basic {
		grid-template-columns: unset
	}

	html .joe_census__lately .content #lately {
		height: 265px
	}

	html .joe_census__server {
		grid-template-columns: unset
	}

	html .joe_census__server-item .content #work,
	html .joe_census__server-item .content #flow {
		height: 250px
	}

	html .joe_index__banner>.swiper-container {
		height: 250px
	}

	html .joe_index__banner>.swiper-container .item {
		height: 250px
	}
}

@media (max-width: 768px) {

	html #nprogress .spinner {
		top: 5px;
		right: 3px;
	}

	html .joe_header.active,
	html .joe_header:target {
		top: 0;
	}

	html .body-scroll .joe_header {
		box-shadow: 0 4px 10px var(--main-shadow);
	}

	html .joe_header__above .joe_container {
		justify-content: space-between;
		padding: 0 18px;
		border: 1px solid transparent;
	}

	html .joe_header__above-nav {
		display: none
	}

	html .joe_header__above-logo {
		height: 50px;
		margin-right: 0
	}

	html .joe_header__above-searchicon {
		margin-left: 0
	}

	html .joe_header__above-slideicon {
		display: block;
		position: relative;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
	}

	html body {
		padding-top: 70px;
	}

	html .joe_header__below {
		display: none
	}

	html .joe_index__banner-recommend {
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}

	html .joe_index__banner-recommend .item {
		height: 110px;
	}

	html .joe_index__hot-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px
	}

	html .joe_index__title {
		display: block;
	}

	html .joe_index__title-content {
		margin-bottom: 5px;
	}

	html .joe_list__item .information .title {
		font-size: 16px;
		line-height: unset;
	}

	html .joe_list__item .information .title::after {
		height: 1.5px;
		transition: all 0.5s;
	}

	html .joe_list__item.default .information .abstract {
		display: none
	}

	html .joe_list__item.single .thumbnail {
		height: 130px;
		/* margin-bottom: 0 */
	}

	html .joe_list__item.single .thumbnail time,
	html .joe_list__item.single .thumbnail svg {
		display: none
	}

	html .joe_list__item.default .information .title {
		font-size: 15px;
	}

	html .joe_list__item.default .thumbnail,
	html .joe_list__loading .item .thumbnail {
		width: 138px;
		height: 97px;
		margin-right: 15px;
	}

	html .joe_list__item.default .thumbnail time,
	html .joe_list__item.default .thumbnail svg {
		display: none
	}

	html .joe_list__item.default .title {
		/* padding-bottom: 2px;
		margin-bottom: 3px; */
	}

	html .joe_list__item.default .meta .items {
		width: 100%
	}

	html .joe_list__item.default .meta .items li:nth-child(1) {
		display: none;
	}

	html .joe_list__item.multiple .thumbnail {
		grid-template-rows: 70px;
		gap: 10px
	}

	html .joe_list__item.none .information {
		height: 120px
	}

	html .joe_list__item.none .abstract {
		display: -webkit-box;
		font-size: 13px
	}

	html .joe_list__loading .item .information .title {
		margin-bottom: 10px;
		height: 20px
	}

	html .joe_list__loading .item .information p {
		height: 15px
	}

	html .joe_wallpaper__list {
		grid-template-columns: repeat(2, 1fr)
	}

	/* html .joe_wallpaper__pagination {
		justify-content: center
	} */

	html .joe_detail__friends {
		grid-template-columns: repeat(1, 1fr)
	}

	html .joe_detail__title {
		font-size: 18px
	}

	html .joe_detail__count-information {
		width: 100%
	}

	html .joe_detail__count-information .meta {
		width: 100%;
		height: unset
	}

	html .joe_detail__count-information .meta .item {
		font-size: 12px;
	}

	html .joe_detail__count::after {
		display: none
	}

	html .joe_detail__overdue-wrapper {
		padding: 10px
	}

	html .joe_detail__overdue-wrapper .title {
		margin-bottom: 5px;
		font-size: 14px
	}

	html .joe_detail__overdue-wrapper .title .icon {
		margin-right: 5px
	}

	html .joe_detail__overdue-wrapper .content {
		font-size: 13px;
		padding-left: 0
	}

	html .joe_detail__leaving-list {
		height: 300px
	}

	html .joe_detail__leaving-list .item {
		font-size: 12px;
		width: 160px;
		min-height: unset
	}

	html .joe_detail__leaving-list .item .user {
		padding: 0 8px;
		height: 35px
	}

	html .joe_detail__leaving-list .item .user .avatar {
		width: 15px;
		height: 15px
	}

	html .joe_detail__leaving-list .item .wrapper {
		padding: 8px
	}

	html .joe_detail__leaving-list .item .wrapper .content {
		height: 109px;
		line-height: 18px
	}

	html .joe_detail__leaving-list .item .wrapper .content .owo_image {
		max-height: 18px
	}

	html .joe_detail__copyright .content .item {
		font-size: 13px
	}

	html .joe_detail__copyright .content .item .icon {
		width: 16px;
		height: 16px
	}

	html .joe_detail__related-content {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px
	}

	html .joe_detail__related-content .item {
		height: 120px
	}

	html .joe_detail__related-content .item h6 {
		font-size: 12px
	}

	html .joe_video__list-item {
		grid-template-columns: repeat(2, 1fr)
	}

	html .joe_video__list-item .item .thumb {
		height: 200px
	}

	html .joe_video__pagination {
		justify-content: center
	}

	html .joe_video__detail-info .thumbnail {
		width: 125px;
		height: 180px
	}

	html .joe_video__detail-info .description dt {
		font-size: 16px;
		margin-bottom: 8px
	}

	html .joe_video__detail-info .description dd {
		font-size: 12px;
		margin-bottom: 5px;
		line-height: 20px;
		max-height: 40px
	}

	html .joe_video__detail-info .description dd:not(:last-child) {
		-webkit-line-clamp: 1
	}

	html .joe_video__player-play {
		height: 225px
	}

	html .joe_video__source-list {
		grid-template-columns: repeat(3, 1fr)
	}

	html .joe_live__pagination {
		justify-content: center
	}

	html .joe_live__list {
		grid-template-columns: repeat(1, 1fr)
	}

	html .joe_live__play-player {
		height: 185px
	}

	html .joe_footer .joe_container {
		flex-direction: column;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px
	}

	html .joe_footer .joe_container>.item {
		padding: 5px 0
	}

	html .joe_footer .joe_container .run {
		margin: 0
	}

	html .joe_owo__contain .box .scroll .item {
		width: calc(100% / 8)
	}

	html .joe_owo__contain .box .scroll:nth-child(5) .item {
		width: calc(100% / 2);
	}

	html .joe_comment {
		position: relative
	}

	html .joe_comment__respond-form .head {
		display: block;
		border-bottom: none
	}

	html .joe_comment__respond-form .head .list {
		border-bottom: 1px solid var(--classB)
	}

	html .joe_comment__respond-form .head .list:nth-child(2)::before,
	html .joe_comment__respond-form .head .list:nth-child(2)::after {
		display: none
	}

	html .joe_comment__respond-form .body .text {
		height: 100px
	}

	html .joe_comment .comment-list__item-contain .term .avatar {
		width: 34px;
		height: 34px;
		margin-right: 10px
	}

	html .joe_comment .comment-list__item-contain .term .content .substance .mobile-author {
		display: inline;
	}

	html .joe_comment .comment-list__item-contain .term .avatar {
		margin-top: 0;
	}

	html .joe_comment .comment-list__item-contain .term .content .substance {
		margin-bottom: 0;
		padding: 8px;
	}

	html .joe_comment .comment-list__item-contain .term {
		align-items: center;
	}

	html .joe_comment .comment-list__item-contain .term .content .user {
		display: none;
	}

	html .joe_comment .comment-list__item-contain .term .content .mobile-handle {
		display: inline;
		float: right;
	}

	html .joe_comment .comment-list__item-contain .term .content .handle .reply .icon {
		margin-right: 0px;
	}

	html .joe_comment .comment-list__item-contain .term .content .handle .date {
		font-size: 12px;
	}

	html .joe_comment .comment-list__item-contain .term .content .handle .reply {
		display: inline;
		font-size: 12px;
	}

	html .joe_comment .comment-list__item-contain .term .content .substance .draw_image {
		max-width: 50%;
	}

	/* html .joe_comment .comment-list__item-contain .term .content .user .agent {
		display: none
	} */

	html .joe_comment .comment-list__item-children {
		padding-left: 15px;
	}

	html .joe_comment .comment-list__item .joe_comment__respond {
		margin-left: 0
	}

	html .joe_comment .comment-list__item .joe_comment__respond-type {
		position: static
	}

	html .joe_comment .comment-list__item .joe_comment__respond-type .item:first-child {
		border-bottom-left-radius: 0
	}

	html .joe_comment .comment-list__item .joe_comment__respond-type .item:last-child {
		border-bottom-right-radius: 0
	}

	html .joe_census__basic-item.list .list {
		padding: 10px 15px
	}

	html .joe_census__basic-item.list .list .count p {
		font-size: 22px
	}

	html .joe_census__lately .content {
		padding: 5px
	}

	html .joe_census__lately .content #lately {
		height: 240px
	}

	html .joe_census__server {
		grid-template-columns: unset
	}

	html .joe_census__server-item .content {
		padding: 5px
	}

	html .joe_census__server-item .content #work,
	html .joe_census__server-item .content #flow {
		height: 240px
	}

	html .joe_index__banner>.swiper-container {
		height: 200px
	}

	html .joe_index__banner>.swiper-container .item {
		height: 200px
	}

	html .joe_main .joe_detail .single-metabox {
		font-size: 13px;
	}

	html .joe_main .joe_detail .single-metabox .post-metas item {
		margin: 0 2px;
	}

	html .joe_detail {
		padding: 15px 15px;
	}

	html .joe_index__hot-list .item>.item-body>.item-meta>.meta-right>.meta-comm {
		display: none;
	}

	html .joe_index__hot-list .item .link .inner .image {
		height: 150px;
	}

	::-webkit-scrollbar {
		width: 2.5px;
		height: 2.5px;
	}

	html .joe_bread {
		font-size: 12px;
	}

	html .swiper-button-next,
	html .swiper-button-prev {
		display: none;
	}

	html .joe_list__item,
	html .joe_list__loading .item {
		padding: 10px;
		margin-bottom: 10px;
	}

	html .joe_list__item.default .line {
		top: 11px;
		left: 3.5px;
		width: 3px;
		height: 25px;
	}

	html .relates-thumb .swiper-slide {
		width: 180px;
	}

	html .footer {
		padding: 10px 0;
		padding-bottom: 25px;
	}

	html .hidden-xs {
		display: none !important;
	}

	html .footer .list-inline>li:last-child {
		float: unset;
	}

	html .footer .container-footer>.list-inline.flex {
		display: block;
	}

	html .footer .container-footer {
		text-align: center;
	}
}

@media (max-width: 640px) {
	html .hide-sm {
		display: none !important;
	}
}

@media (max-width: 500px) {
	html .joe_detail__related-content .item {
		height: 120px;
	}

	html .joe_owo__contain .box .scroll .item {
		width: calc(100% / 6)
	}
}

@media (max-width: 480px) {
	html .joe_list__item .item-meta .meta-comm {
		display: none;
	}

	.joe_container,
	.container {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (max-width: 450px) {
	html .joe_detail__related-content .item {
		height: 110px;
	}

	html .joe_index__hot-list .item .link .inner .image {
		height: 120px;
	}

	html .joe_index__hot-list .item>.item-body>.item-meta>.meta-right>.meta-like {
		display: none;
	}

	html .joe_owo__contain .box .scroll:nth-child(5) .item {
		width: calc(100% / 1);
	}

	html .joe_pagination li.prev,
	html .joe_pagination li.next {
		display: none;
	}
}

@media (max-width: 440px) {
	html .joe_list__item .item-meta .meta-like {
		display: none;
	}
}

@media (max-width: 425px) {
	html .joe_detail__related-content .item {
		height: 110px;
	}

	html .joe_index__hot-list .item .link .inner .image {
		height: 110px;
	}

	html .joe_index__hot-list .item>.item-body>.item-meta>.meta-right>.meta-like {
		display: none;
	}
}

@media (max-width: 400px) {
	html .joe_list__item .item-meta item>.hide-sm {
		display: none;
	}
}

@media (max-width: 380px) {
	html .joe_index__hot-list .item>.item-body>.item-meta>.meta-author>span>span {
		display: none;
	}
}

@media (max-width: 372px) {
	html .joe_index__title-notice {
		display: none
	}

	html .joe_index__title-title .item>span {
		display: none
	}
}

@media (max-width: 340px) {
	html .joe_owo__contain .box .scroll .item {
		width: calc(100% / 5);
	}
}