.joe_detail__friends {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	margin-bottom: 15px
}

.joe_detail__friends-item .contain:hover {
	-webkit-transform: translateY(-5px) scale(1.025);
	transform: translateY(-5px) scale(1.025);
	box-shadow: 0 34px 20px -24px rgba(136, 161, 206, 0.3);
}

.joe_detail__friends-item .contain {
	display: block;
	border-radius: var(--radius-inner);
	overflow: hidden;
	padding: 15px;
	color: #fff;
	word-break: break-word;
	transition: box-shadow 0.35s, -webkit-transform 0.35s;
	transition: transform 0.35s, box-shadow 0.35s;
	transition: transform 0.35s, box-shadow 0.35s, -webkit-transform 0.35s
}

.joe_detail__friends-item .contain .title {
	position: relative
}

.joe_detail__friends-item .contain .title::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff
}

.joe_detail__friends-item .contain .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px
}

.joe_detail__friends-item .contain .content .desc {
	margin-right: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.joe_detail__friends-item .contain .content .avatar {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover
}

.friend_submit {
	margin-top: 30px;
	margin-bottom: 25px;
}

.friend_submit>h2 {
	margin-bottom: 8px;
	position: relative;
	padding-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
	color: var(--main-color);
	font-family: inherit;
	line-height: 1.1;
}

.friend_submit>h2::before {
	transition: .4s;
	transform-origin: left;
	position: absolute;
	content: '';
	width: 40px;
	height: 3px;
	background: var(--theme);
	left: 0;
	bottom: 3px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px -1px var(--theme);
}

.friend_submit>h2:hover::before {
	transform: scaleX(1.3);
}

.friend_submit>.input {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.friend_submit>.input>.input-label {
	margin-right: 10px;
	white-space: nowrap;
	color: var(--main);
}

.friend_submit>.input input {
	height: 36px;
	width: 100%;
	display: block;
	padding: 0 10px;
	border-radius: 2px;
	color: var(--routine);
	background: transparent;
	border: 1.5px solid var(--classA);
	transition: 0.3s;
}

.friend_submit>.input input:focus {
	background: var(--background);
	border-color: var(--theme);
}

.friend_submit>.button>button {
	padding: 0 15px;
	height: 36px;
	border: none;
	background: var(--theme);
	color: #fff;
	border-radius: var(--main-radius);
	transition: 0.2s;
}

.friend_submit>.button>.submit:hover {
	opacity: 0.9;
}

.friend_submit>.button>.submit:focus {
	opacity: 0.8;
}

.friend_submit>.button>.submit {
	margin-right: 2vw;
	box-shadow: 1px 1px 3px -1px var(--theme);
}

.friend_submit>.button>.reset {
	color: var(--main);
	background: var(--classC);
	transition: 0.3s;
}

.friend_submit>.button>.reset:hover {
	background: var(--classB);
	border-color: var(--classA);
}

@media (max-width: 768px) {
	.friend_submit>.input {
		display: block;
		margin-bottom: 10px;
	}

	.friend_submit>.input>.input-label {
		margin-bottom: 5px;
		display: block;
	}
}