/* 首页样式 */
.joe_index {
	border-radius: var(--radius-wrap);
	/* padding: 0 15px; */
	background: transparent;
}

.joe_index__banner {
	display: flex;
	background: var(--background);
	border-radius: var(--radius-inner);
}

.joe_index__banner-recommend {
	width: 100%;
	display: grid;
	flex-wrap: wrap;
	gap: 15px;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 20px;
}

/*
.joe_index__banner-recommend.noswiper {
	width: 100%;
	flex-direction: row;
	margin-left: 0
}

.joe_index__banner-recommend.noswiper .item:first-child {
	margin-bottom: 0;
	margin-right: 7.5px
}

.joe_index__banner-recommend.noswiper .item:last-child {
	margin-left: 7.5px
}
*/

.joe_index__banner-recommend .item {
	position: relative;
	width: 100%;
	height: 160px;
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.4);
	border-radius: var(--radius-inner);
	overflow: hidden;
	transition: .3s;
}

.joe_index__banner-recommend .item:hover {
	opacity: 1;
	z-index: 99;
	/* border-radius: var(--radius-wrap); */
	transform: translateY(-5px);
	box-shadow: 0 3px 20px rgb(0 0 0 / 40%);
	animation: index-link-active 1s cubic-bezier(0.315, 0.605, 0.375, 0.925) forwards;
}

.joe_index__banner-recommend .item:last-child {
	margin-bottom: 0
}

.joe_index__banner-recommend .item .thumbnail {
	display: block;
	width: 100%;
	height: 100%
}

.joe_index__banner-recommend .item .thumbnail img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.joe_index__banner-recommend .item .information {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	color: #fff;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.joe_index__banner-recommend .item .type {
	background-image: linear-gradient(270deg, #986fee, #8695e6, #68b7dd, #18d7d3);
	background-color: #8695e6;
	text-align: center;
	padding: 2.25px 8px;
	border-radius: 2px;
	/* height: 20px; */
	font-size: 12px;
	color: #fff;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 5px;
	left: 5px;
}

.joe_index__banner-recommend .item .information .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.joe_index__hot-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	-webkit-column-gap: 15px;
	column-gap: 15px;
	row-gap: 15px;
}

.joe_index__hot-list .item {
	padding: 10px;
	overflow: hidden;
	transition: 0.3s;
	background: var(--background);
	border-radius: var(--main-radius);
	box-shadow: 0 0 10px var(--main-shadow);
}

.joe_index__hot-list .item>.item-body {
	background: var(--background);
	border-radius: 0px 0px 4px 4px;
	padding-top: 5px;
}

.joe_index__hot-list .item>.item-body>.item-heading {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 1.4em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	white-space: normal;
	height: 2.8em;
}

.joe_index__hot-list .item>.item-body>.item-heading>a {
	font-weight: bold;
	color: var(--main-color);
	transition: 0.2s;
}

.joe_index__hot-list .item>.item-body>.item-heading>a:hover {
	color: var(--theme);
}

.joe_index__hot-list .item>.item-body>.item-tags>a {
	font-size: 11px;
	padding: 2px 5px;
	margin-right: 5px;
}

.joe_index__hot-list .item>.item-body>.item-tags>a>.fa {
	margin-right: .25em;
}

.joe_index__hot-list .item>.item-body>.item-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--muted-2-color);
	font-size: 12px;
}

.joe_index__hot-list .item>.item-body>.item-meta>item {
	font-size: 12px;
	margin-right: 8px;
	font-size: 12px;
}

.joe_index__hot-list .item>.item-body>.item-meta a {
	color: inherit;
	transition: color .2s, background .3s, opacity .3s, box-shadow .3s, transform .3s;
	background-color: transparent;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-author {
	display: flex;
	align-items: center;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-author .avatar-mini {
	transform: translateY(-1px);
	--this-size: 20px;
	width: var(--this-size);
	height: var(--this-size);
	position: relative;
	display: inline-block;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-author .avatar-mini>img {
	border-radius: 100px;
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: all .2s;
	overflow: hidden;
	-o-object-fit: cover;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-author>span {
	margin-left: 6px;
	/* padding-bottom: 1px; */
	white-space: nowrap;
	overflow: hidden;
	/* max-width: 64.5px; */
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-right {
	white-space: nowrap;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-right>item {
	margin-right: 6px;
}

.joe_index__hot-list .item>.item-body>.item-meta>.meta-right svg {
	margin-right: 2px;
	width: 1em;
	height: 1em;
	vertical-align: -.16em;
	fill: currentColor;
	overflow: hidden;
}

.joe_index__hot-list .item .link {
	display: block
}

.joe_index__hot-list .item .link .inner {
	position: relative
}

.joe_index__hot-list .item .link .inner:hover .image {
	opacity: 0.85
}

.joe_index__hot-list .item .link .inner:hover .title {
	background: var(--classC)
}

.joe_index__hot-list .item .link .inner .image {
	width: 100%;
	height: 175px;
	-o-object-fit: cover;
	object-fit: cover;
	transition: opacity 0.35s;
	/* border-radius: var(--radius-inner) var(--radius-inner) 0 0 */
	border-radius: var(--radius-inner);
}

.joe_index__hot-list .item .link .inner .views {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	background-image: linear-gradient(to right, #fc712a, #f84c39);
	background-color: #f84c39;
	color: #fff;
	font-size: 12px;
	/* height: 18px; */
	padding: 1px 8px;
	border-radius: 2px;
	white-space: nowrap
}

.joe_index__hot-list .item .link .inner .type {
	background-image: linear-gradient(270deg, #986fee, #8695e6, #68b7dd, #18d7d3);
	background-color: #8695e6;
	text-align: center;
	padding: 2.25px 8px;
	border-radius: 2px;
	/* height: 20px; */
	font-size: 12px;
	color: #fff;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 5px;
	left: 5px;
}

.joe_index__ad-link {
	display: block;
	position: relative;
	margin-bottom: 1vh;
}

.joe_index__ad-link .image {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: var(--radius-inner);
	transition: opacity 0.35s
}

.joe_index__ad-link .image.lazyload,
.joe_index__ad-link .image.lazyloading {
	max-height: 80px;
	object-fit: unset;
	-o-object-fit: unset;
}

.joe_index__ad-link .image:hover {
	opacity: 0.85
}

.joe_index__ad-link .icon {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	font-size: 12px;
	background: rgba(0, 0, 0, 0.45);
	padding: 2px 5px;
	border-radius: 2px;
	color: #ebebeb;
	pointer-events: none
}

.joe_index__title {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.joe_index__title-content {
	display: flex;
	align-items: center;
}

.joe_index__title>.joe_index__title-content>.splitters-this-r {
	color: var(--main-color);
	flex: none;
	padding: 5px 10px;
	display: inline-block;
}

.joe_index__title-title {
	position: relative;
	display: flex;
	color: var(--routine);
	margin-left: 10px;
	color: var(--muted-2-color);
}

.joe_index__title-title .item {
	cursor: pointer;
	transition: 0.2s;
}

.joe_index__title-title .item+.item:before {
	content: '';
	width: 4px;
	height: 4px;
	margin: 0 .5em;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	background: var(--main-color);
	opacity: .3;
	vertical-align: .2em
}

.joe_index__title-title .item.active {
	pointer-events: none;
	cursor: not-allowed;
}

.joe_index__title-title .item.active,
.joe_index__title-title .item:hover {
	color: var(--theme);
	/* background: var(--theme); */
}

.joe_index__title-title .line {
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 2px;
	border-radius: 1px;
	background: var(--back-line-right);
	transition: left 0.35s, width 0.35s
}

.joe_index__title-notice {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-left: 10px;
}

.joe_index__title-notice svg {
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
	margin-right: 5px
}

.joe_index__title-notice a {
	color: var(--minor);
	line-height: 20px;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: color 0.35s
}

.joe_index__title-notice a:hover {
	color: var(--theme)
}

html .swiper-container {
	min-width: 0;
	flex: 1;
	height: 400px;
	--swiper-theme-color: #fff;
	border-radius: var(--radius-inner)
}

html .swiper-container .item {
	display: block;
	height: 400px;
	border-radius: var(--radius-inner)
}

html .swiper-container .item>video {
	display: block;
	width: 100%;
}

html .swiper-container .item .thumbnail {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	transition: opacity 0.35s
}

html .swiper-container .item .thumbnail:hover {
	opacity: 0.85
}

html .swiper-container .item .title {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	font-weight: normal
}

html .swiper-container .item .icon {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	width: 18px;
	height: 18px;
	fill: #fff;
	opacity: 0.5
}

html .swiper-container .swiper-pagination-bullets {
	bottom: unset;
	left: unset;
	width: auto;
	right: 10px;
	top: 10px
}

html .swiper-container.swiper-container-vertical .swiper-button-next,
html .swiper-container.swiper-container-vertical .swiper-button-prev {
	display: none
}

html .swiper-container .swiper-button-next,
html .swiper-container .swiper-button-prev {
	background: rgba(0, 0, 0, 0.1);
	transition: background 0.35s, right 0.35s, left 0.35s;
	border-radius: 2px
}

html .swiper-container .swiper-button-next:hover,
html .swiper-container .swiper-button-prev:hover {
	background: rgba(0, 0, 0, 0.25)
}

html .swiper-container .swiper-button-next::after,
html .swiper-container .swiper-button-prev::after {
	font-size: 20px
}

html .swiper-container .swiper-button-next {
	right: -27px
}

html .swiper-container .swiper-button-prev {
	left: -27px
}

html .swiper-container:hover .swiper-button-next {
	right: 10px
}

html .swiper-container:hover .swiper-button-prev {
	left: 10px
}

.imgUpload_btn {
	margin: -10px auto 5px;
	text-align: right
}

.imgUpload_btn span {
	cursor: pointer;
	margin-right: 5px
}

.top-social {
	position: relative;
	padding: 5px 0;
	width: 250px;
	display: flex;
	flex-wrap: wrap;
	background: var(--background);
	justify-content: space-around;
	margin-bottom: 15px;
	border-radius: var(--radius-wrap);
	box-shadow: var(--box-shadow)
}

.top-social li {
	width: 50px;
	text-align: center;
	position: relative;
	height: 32px
}

.top-social li a {
	height: 100%
}

.top-social li div {
	height: 100%
}

.top-social li img {
	height: 100%
}

.top-social li .WeChatInner {
	display: none;
	position: absolute;
	box-shadow: 0px 1px 4px 2px var(--theme);
	border-radius: var(--radius-wrap);
	transition: .7s all ease;
	background: var(--background);
	-webkit-transition: .7s all ease;
	top: -180px;
	left: -50px;
	transform: translate3d(0, 16px, 0);
	width: 150px;
	height: 150px;
	z-index: 2
}

.top-social li .WeChatInner::before {
	content: "";
	position: absolute;
	bottom: -16px;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
	width: 0px;
	border: 18px solid transparent;
	border-bottom: none;
	border-top-color: var(--background);
	filter: drop-shadow(0px 4px 2px var(--theme))
}

.top-social li .WeChatInner img {
	border-radius: 2px;
	width: 140px;
	height: auto;
	margin: 5px;
	background: none
}

.top-social li:hover .WeChatInner {
	display: block
}

.pe-social {
	width: 100%
}

.joe_comment__respond-form .foot {
	justify-content: flex-start
}

.joe_comment__respond-form .foot .joe_owo__contain {
	position: static
}

.joe_comment__respond-form .foot .joe_owo__contain .box {
	position: absolute;
	bottom: 100%;
	margin-bottom: 6px;
	left: 0px;
	padding-top: 5px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-color: transparent;
	box-shadow: 0 0 10px 8px rgba(116, 116, 116, .08)
}

.joe_comment__respond-form .foot .comment_box {
	cursor: pointer;
	text-align: center;
	color: var(--routine);
	height: 26px;
	line-height: 26px;
	background: var(--background);
	opacity: .85;
	border-radius: 13px;
	width: 70px;
	margin-left: 5px
}

.joe_comment__respond-form .foot .comment_box:hover {
	background: var(--theme);
	color: #fff
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu {
	cursor: default;
	position: absolute;
	top: auto;
	bottom: 100%;
	margin-bottom: 6px;
	z-index: 10;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: var(--background);
	color: var(--minor);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-color: transparent;
	border-radius: 4px;
	box-shadow: 0 0 10px 8px rgba(116, 116, 116, .08)
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image {
	width: 250px;
	padding: 8px 10px
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image p {
	margin: 0 0 10px
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image p textarea {
	resize: vertical
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-color: transparent;
	background: var(--classD);
	color: #4e5358;
	max-height: 200px;
	min-height: 90px;
	box-shadow: none;
	transition: border-color ease-in-out .15s, background ease-in-out .15s, box-shadow ease-in-out .15s, opacity ease-in-out .3s
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image .text-right {
	text-align: right
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image .text-right .error {
	float: left;
	color: var(--theme);
	-webkit-animation: 5s ease-in-out 0s infinite normal none running shaked;
	animation: 5s ease-in-out 0s infinite normal none running shaked
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image .text-right .but {
	border-radius: 4px;
	display: inline-block;
	background: var(--theme);
	color: #fff;
	padding: .3em 1em
}

.joe_comment__respond-form .foot .comment_box .dropdown-menu .dropdown-image .text-right .but:hover {
	-webkit-animation: 5s ease-in-out 0s infinite normal none running shaked;
	animation: 5s ease-in-out 0s infinite normal none running shaked
}

.joe_comment__respond-form .foot .press-down {
	background: var(--theme) !important;
	color: #fff !important
}