/* 搜索页的样式 */
.joe_archive {
	border-radius: var(--radius-wrap);
	/* padding: 0 15px; */
	background: transparent;
}

.joe_archive__title {
	display: flex;
	align-items: center;
	color: var(--main-color);
	margin-bottom: 20px;
}

.joe_archive__title-icon {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	margin-right: 5px
}

.joe_archive__title-title {
	display: flex;
	align-items: center
}

.joe_archive__title-title .muted {
	color: var(--theme);
	margin: 0 5px
}

.joe_archive__empty {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 0;
	color: var(--routine)
}

.joe_archive__empty-icon {
	margin-bottom: 30px;
	fill: var(--routine)
}