.joe_action_item.posts-nav-switcher:hover {
	opacity: 1;
}

.posts-nav-box {
	box-sizing: border-box;
}

.posts-nav-box>.joe_aside__item-contain {
	max-height: 500px;
}

.posts-nav-lists {
	padding-left: 10px
}

.posts-nav-lists .bl {
	border-left: 1px solid var(--main-border-color);
	padding: 20px 10px 20px 0;
	position: relative;
	margin-bottom: 0;
	list-style: none;
	margin: 0;
}

.posts-nav-lists li.yc:not(.active) {
	display: none
}

.posts-nav-lists li a {
	margin: 0 10px;
	display: block;
	border-radius: 4px;
	margin-right: 25px;
	padding: 8px;
	position: relative;
	transition: color .2s, background .3s, opacity .3s, box-shadow .3s, transform .3s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--main-color);
	width: 100%;
	font-weight: 700;
}

.posts-nav-lists .bl::after,
.posts-nav-lists .bl::before,
.posts-nav-lists li::before {
	outline: 0 !important;
	position: absolute;
	bottom: 0;
	left: -6px;
	width: 11px;
	height: 11px;
	border: 2px solid var(--theme);
	background: var(--background);
	border-radius: 15px;
	content: '';
	transition: .15s;
	display: table;
	box-sizing: border-box;
}

.posts-nav-lists li {
	position: relative;
	display: block;
	margin-bottom: 3px;
}

.posts-nav-lists li:last-child {
	margin-bottom: 0px;
}

.posts-nav-lists li.yc:not(.active) {
	display: none
}

.posts-nav-lists .fa-angle-right {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	padding: 8px 15px;
	color: var(--muted-2-color);
	margin-right: -15px;
	transition: all .2s;
	font-size: 20px
}


.posts-nav-lists>.nav li.active a {
	background: var(--main-shadow);
	color: var(--theme);
}

@media (min-width: 768px) {
	.posts-nav-lists>.nav>li>a:hover {
		background: var(--main-shadow);
		color: var(--theme)
	}
}

.posts-nav-lists li.n-H1 a,
.posts-nav-lists li.n-H2 a {
	font-weight: 700
}

.posts-nav-lists li.n-H3 a {
	padding-left: 20px
}

.posts-nav-lists li.n-H4 a {
	padding-left: 40px;
	font-size: 12px
}

.posts-nav-lists li.n-H5 a {
	padding-left: 50px;
	font-size: 12px
}

.posts-nav-lists li.n-H6 a {
	padding-left: 60px;
	font-size: 12px
}

.posts-nav-lists .bl::before {
	bottom: auto;
	top: 0
}

.posts-nav-lists li::before {
	top: 50%;
	transform: translateY(-50%);
	border: 3px solid var(--background);
	background: var(--muted-3-color);
	opacity: 0
}

.posts-nav-lists li.n-H1::before,
.posts-nav-lists li.n-H2::before {
	border-width: 2px;
	opacity: 1
}

.posts-nav-lists li.n-H2::before {
	border-width: 3px
}

.posts-nav-lists li.n-H3::before {
	border-width: 4px;
	opacity: .6
}

.posts-nav-lists li.active::before,
.posts-nav-lists li:hover::before {
	opacity: 1;
	border-width: 2px;
	background: var(--theme)
}