#loading-animation {
	content: " ";
	position: fixed;
	inset: 0;
	background-color: var(--background);
	z-index: 999999999999999;
	background-image: url(yuanshen.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200px;
	pointer-events: none;
}